html, body {
  margin: 0;
  padding: 0;
  background-color: #e4eefb;
}

.logo {
  width: 75px;
  height: 60px;
  /* border-style: solid; */
}

.birdie {
  width: 35px;
  height: 40px;
  /* border-style: solid; */
}

.wolverine {
  height: 150px;
  width: 140px;
  /* border-style: solid; */
}

.light-text {
  color: #40538e;
}

/* NAVIGATION BAR */
#nav-bar {
  background-color: #1b2354;
  padding: 30px 40px;
  /* border-style: solid; */
}

#nav-bar ul {
  float: right;
  list-style-type: none;
  text-align: right;
  margin-top: 0;
}

#nav-bar li {
  margin-bottom: 5px;
}

#nav-bar a {
  color: #e4eefb;
  font-family: "Keep Calm";
  text-decoration: none;
}

#nav-bar a:hover {
  color: #e8d838;
}

/* FRONT PAGE */
#section-0 {
  background-color: #1b2354;
  font-family: "Keep Calm";
  text-align: center;
  font-size: 50px;
  padding: 25px 25px 100px 25px;
  /* border-style: solid */
}

#title-1 {
  font-size: 30px;
  color: #e4eefb;
}

#title-2 {
  margin-top: 10px;
  color: #9da9cf;
}

#title-3 {
  margin-top: 40px;
  font-family: "Amarillo";
  color: #e8d838;
}

#section-0 .wolverine {
  margin-top: 30px;
}

/* COMMUNITY SECTION */
#section-1 {
  color: #1b2354;
  font-family: "Keep Calm";
  text-align: center;
}

.dark-blue-bar {
  border-top: 10px solid #40538e;
}

.blue-bar {
  border-top: 10px solid #9da9cf;
}

#section-1 h1 {
  font-size: 36px;
}

#section-1 p {
  padding: 0 50px;
  font-size: 14px;
  line-height: 2;
  font-family: "Helvetica";
}

.community-pics {
  width: 75%;
  margin: 20px 0;
  border-bottom: 10px solid #40538e;
  border-top: 10px solid #40538e
}

/* MISSION SECTION */
#section-2 {
  color: #1b2354;
  font-family: "Keep Calm";
  text-align: center;
}

#section-2 h1 {
  font-size: 36px;
}

#section-2 p {
  padding: 0 50px;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 2;
  margin: 20px 0 50px 0;
}

.mission-pics {
  width: 75%;
  border-bottom: 10px solid #40538e;
  border-top: 10px solid #40538e
}


/* FOOTER */
footer {
  background-color: #1b2354;
  color: #e4eefb;
  /* height: 300px; */
}

footer .logo {
  margin: 25px;
}

.social-media h1 {
  margin: 0 25px;
  font-family: "Keep Calm";
  border-bottom: 5px solid;
}

.social-media ul {
  list-style-type: none;
  font-family: "Helvetica";
  margin-bottom: 25px;
}

.social-media li {
  color: #e4eefb;
}

footer form {
  margin: 25px;
  padding: 25px;
  text-align: center;
  background-color: #40538e;
}

footer form h1 {
  font-family: "Keep Calm";
  text-decoration: underline;
  font-size: 24px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  text-align: center;
  font-family: "Keep Calm";
}

input[type=submit] {
  background-color: #1b2354;
  color: #e4eefb;
}

.copyright {
  text-align: center;
  padding-bottom: 25px;
  font-family: "Helvetica";
}

/* 
Color Palette:
#1b2354
#40538e
#9da9cf
#e4eefb
#e8d838
*/
