#nav-bar .tournament_title {
    text-align: left;
    color: white; 
    padding-top: 20px;
    font-size: 26px;
    display: inline;
    padding-left: 20px;
    vertical-align: 20px;
}

#tournament-0 .Title {
    text-align: left; 
    color: black;
    padding-top: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 26px;
}