@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.nav-bar {
	width: 80%;
	margin: 0 auto;
}

header {
	background:#153e5c;
}

.logo {
	float: left;
	width: 2.5em;
	margin-top: 5px;
	padding: 10px 0;
}

nav {
	float: right;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	position: relative;
}

nav a {
  color: #FFC;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #FF0;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FF0;

  position: absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}

.main {
	width: 100%;
}


@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}