/************* GENERAL STYLE *************/
html, body { 
  margin: 0;
  padding: 0;
  background-color: #1b2354;
}

.logo {
  /* border-style: solid; */
  height: 85px;
  width: 110px;
}

.birdie {
  width: 35px;
  height: 40px;
}

.wolverine {
  height: 150px;
  width: 140px;
  /* border-style: solid; */
}

h1 {
  font-family: "Keep Calm";
  color: #e4eefb;
  font-size: 36px;
  text-align: center;
}

p {
  /* border-style: solid; */
  font-family: "Keep Calm";;
  color: #9da9cf;
  line-height: 2;
  text-align: center;
  font-size: 14px;
}

.horiz-line {
  border-top-style: solid;
  color: #e4eefb;
  border-width: 10px;
}

.horiz-line[type="dark-blue"] {
  color: #40538e;
}

.horiz-line[type="blue"] {
  color: #9da9cf;
}

.white {
  color: #e4eefb;
  display: inline;
}

#yellow {
  color: #e8d838;
  display: inline;
}

#blue {
  color: #9da9cf;
  display: inline;
}

/************* NAV BAR STYLE *************/
.nav-bar {
  padding-top: 30px;
  /* border-style: solid; */
}

.nav-bar .logo {
  margin-top: 20px;
  margin-left: 40px;
}

.nav-bar ul {
  /* border-style: solid; */
  float: right;
  margin-top: 15px;
  padding-right: 30px;
  list-style: none;
  text-align: right;
  font-family: "Keep Calm";
  font-size: 15px;
  color: #9da9cf;
}

.nav-bar li {
  padding-top: 8px;
}

/************* HOME PAGE STYLE *************/
.home {
  text-align: center;
  font-family: "Keep Calm";
  font-size: 50px;
  height: 550px;
  padding-top: 50px;
  /* border-style: solid; */
}

#title-text1 {
  font-size: 30px;
  color: #e4eefb;
}

#title-text2 {
  margin-top: 10px;
  color: #9da9cf;
}

#title-text3 {
  margin-top: 40px;
  font-family: "Amarillo";
  color: #e8d838;
}

.home .wolverine {
  margin-top: 30px;
}

/************* COMMUNITY PAGE STYLE *************/
.community {
  text-align: left;
  position: relative;
  padding: 50px 0;
}

.community h1 {
  margin-top: 100px;
  padding: 0 50px;
}

.community p {
  padding: 0 50px;
}

.community-pic1 {
  /* border-style: solid; */
  width: 100%;
  height: 60vw;
  margin: 0;
  border: none;
}

.slideshow {
  margin-top: -5px;
  text-align: center;
  background-color: #e4eefb;
  color: #1b2354;
  font-family: "Keep Calm";
  font-size: 24px;
  padding: 10px;
}

/************* MISSION PAGE STYLE *************/
.mission {
  /* border-style: solid; */
  margin: 0;
  padding: 50px 0;
}

.text {
  /* border-style: solid; */
  text-align: left;
  padding: 25px;
  border: none;
}

.mission1 h1, .mission2 h1, .mission3 h1, .mission p {
  display: inline;
}

.mission1, .mission2, .mission3 {
  margin: 50px 0 100px 0;
  display: flex;
  align-items: center;
}

.mission1-pic {
  /* border-style: solid; */
  width: 40%;
  height: 60vw;
  margin-right: 25px;
  border-left: 10px solid #9da9cf;
}

.mission2-pic {
  /* border-style: solid; */
  width: 40%;
  height: 70vw;
  margin-left: 25px;
  border-right: 10px solid #e8d838;
}

.mission3-pic {
  /* border-style: solid; */
  width: 40%;
  height: 60vw;
  margin-right: 25px;
  border-left: 12px solid #40538e;
}

/************* FOOTER *************/
.footer {
  border-top: 10px solid;
  color: #9da9cf;
  font-family: "Keep Calm";
  height: 225px;
  padding: 50px;
  text-align: center;
  /* border-style: dotted; */
}

.copyright {
  margin: 50px 0 20px 0;
  color: #40538e;
}

form {
  /* border-style: dotted; */
  margin-top: 50px;
  padding: 25px;
  background-color: #40538e;
  text-align: center;
}

.form-title {
  font-family: "Keep Calm";
  margin: 5px;
  font-size: 24px;
}

input[type=submit] {
  background-color: #1b2354;
  border: none;
  color: #e4eefb;
  font-family: "Keep Calm";
  padding: 5px;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
}

input[type=text] {
  background-color: #e4eefb;
  border: none;
  color: #1b2354;
  font-family: "Keep Calm";
  padding: 5px;
  display: inline-block;
  margin: 8px 0;
  width: 100%;;
  text-align: center;
}
/* 
Color Palette:
#1b2354
#40538e
#9da9cf
#e4eefb
#e8d838
*/
